.form{
    display: flex;
    flex-direction: column;

    button{
        width: 200px;
        max-width: 100%;

        @media (max-width: 430px){
            width: 100%;
        }
    }
}

.row{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
}

.title{
    flex-grow: 2;
}

.category{
    flex-grow: 1;
}

::ng-deep{
    .mat-mdc-raised-button{
        border-radius: 4px;
    }
}

// Loader
.loader {
  width: 32px;
  height: 32px;
  border: 3px solid #2631b1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #906CE4 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 